<h1>Eventos</h1>
<button (click)="toggleButton()">toggle button</button>
<button [disabled]="btnDisable">Enviar</button>

<input type="text" [value]="porcentaje">
<button (click)="incrementPorcentaje()">Incrementar porcentaje</button>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, aperiam non!
    Nemo atque rerum perferendis obcaecati quo quos ipsa expedita exercitationem.
    Quibusdam cumque perspiciatis in eligendi rerum omnis soluta cum?</p>
</div>

<input type="text" (keyup)="keyUp($event)">

<hr>
<h1>Propiedades</h1>
<button [disabled]="btnDisable">Enviar</button>
<input type="text" [value]="title">
<progress max="100" [value]="porcentaje"></progress>
<img width="30" [src] = "img">


<hr>
<h1>Hola mundo</h1>
<h2>{{' Hola mundo'.repeat(3)}}</h2>
<p>3+3 = {{3+3}}</p>
<h3>El titulo del proyecto es {{title}}</h3>
